# This is just a sample file to show how you can configure and deploy the container.
# Adjust the settings to your requirements (see also '.env')!
name: webpdf

services:
  webPDF:
    container_name: webpdf-${WEBPDF_VERSION}
    image: softvisiondev/webpdf:${WEBPDF_VERSION}
    build:
      no_cache: false
      pull: true
      context: .
      dockerfile: Dockerfile
      args:
        - WEBPDF_VERSION=${WEBPDF_VERSION}
        - BASE_IMAGE=${BASE_IMAGE}
        - LOCAL_PACKAGE=${LOCAL_PACKAGE} # true = use the local package file 'packages/webpdf.deb'
    ports:
      - "8080:8080"
    volumes:
      - webpdf10-conf:/opt/webpdf/conf
      - webpdf10-keystore:/opt/webpdf/keystore
      - webpdf10-logs:/opt/webpdf/logs
      - ./fonts/:/home/webpdf/.fonts:rw # mount some additional fonts from the local folder './fonts/'
    tty:
      true
    stdin_open:
      true
    environment:
      - JAVA_PARAMETERS=-Xmx4g
      - LANG=de_DE.UTF-8
      - LC_ALL=de_DE.UTF-8
      - LANGUAGE=de_DE.UTF-8
      - TZ=Europe/Berlin
    user:
      webpdf
    shm_size: 2GB
volumes:
  webpdf10-conf:
  webpdf10-keystore:
  webpdf10-logs:
