# This is just a sample file to show how you can configure and deploy the container.
# Adjust the settings to your requirements!
name: webpdf

services:
  webPDF:
    container_name: webpdf-${WEBPDF_VERSION}
    image: softvisiondev/webpdf:${WEBPDF_VERSION}
    build:
      no_cache: false
      pull: true
      context: .
      dockerfile: Dockerfile
      args:
        - WEBPDF_VERSION=${WEBPDF_VERSION}
        - BASE_IMAGE=${BASE_IMAGE}
        - LOCAL_PACKAGE=${LOCAL_PACKAGE} # true = use the local package file 'packages/webpdf.deb'
    ports:
      - "8080:8080"
    volumes:
      - webpdf9-conf:/opt/webpdf/conf
      - webpdf9-keystore:/opt/webpdf/keystore
      - webpdf9-logs:/opt/webpdf/logs
      # - ./fonts/:/home/webpdf/.fonts   # mount some additional fonts from local folder into the webPDF server
    tty:
      true
    stdin_open:
      true
    environment:
      - JAVA_PARAMETERS=-Xmx4096m -Xms1024m
      - LANG=de_DE.UTF-8
      - LC_ALL=de_DE.UTF-8
      - LANGUAGE=de_DE.UTF-8
      - TZ=Europe/Berlin
    user:
      webpdf
    shm_size: 2GB
volumes:
  webpdf9-conf:
  webpdf9-keystore:
  webpdf9-logs:
